.tasks-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.general-tasks-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.tasks-container {
  width: 45%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  max-height: 500px;
  overflow-y: auto;
  background-color: aqua;
}
.create-task-container {
  width: 45%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: aqua;
}
